@page
@model LibraryProject.Pages.Students.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Students.Name" class="control-label"></label>
                <input asp-for="Students.Name" class="form-control" />
                <span asp-validation-for="Students.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Students.RollNo" class="control-label"></label>
                <input asp-for="Students.RollNo" class="form-control" />
                <span asp-validation-for="Students.RollNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Students.Nrc" class="control-label"></label>
                <input asp-for="Students.Nrc" class="form-control" />
                <span asp-validation-for="Students.Nrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Students.Email" class="control-label"></label>
                <input asp-for="Students.Email" class="form-control" />
                <span asp-validation-for="Students.Email" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



